*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
     overflow-y: hidden;
}
body{
    background: linear-gradient(35deg, #2d4debd5, #c4b8b8);
    height: 100vh;
    width: 100vw;

}   

.app{
    background: linear-gradient(35deg, #c4bebea2, #4762eab4);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px;
}
.arrow-back {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
    align-self: flex-start ;
 }
.app h1{
    font-size: 25px;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #333;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover:not([disabled]){
    background: #333;
    color: #fff;

}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: rgb(48, 53, 60);
    color: #fff;
    font-weight: 500;
    width: 120px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;


}

#next-btn:hover{
        background-color: rgb(44, 47, 55);
        transform: scale(1.05);

}

#next-btn:active {
    transform: scale(0.95);
} 

.correct{
    background: #85d1a6;

}

.incorrect{
    background: #c86e6e;
    
}

/* timer */

.quiz-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}

.timer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #4d5054;
    color: white;
    font-size: 25px;
    padding: 5px;
    width: 17%;
    border-radius: 5px;

}



.bottom-nav-div{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8d2d2;

}

.icons{
    font-size: 34px;

}
a {
    color: #171717;
}

@media only screen and (max-width: 500px) {
    .icons{
        font-size: 24px;
    
    }

}

.bottom-nav-div{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8d2d2;

}

.icons{
    font-size: 34px;

}
a {
    color: #171717;
}


@media only screen and (max-width: 500px) {
    .icons{
        font-size: 24px;
    
    }

}

